<div class="container-fluid">
  <div class="card shadow mb-4" *ngIf="foodPage">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Food Page Title</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row" id="controls">
            <div class="col-sm-12 col-md-2">
              <div class="dataTables_length" id="dataTable_length">
                <label>
                  FOODS LIST SHOW
                  <select
                    name="dataTable_length"
                    [formControl]="foodsPerPageFormControl"
                    class="custom-select custom-select-sm form-control form-control-sm"
                  >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select></label
                >
              </div>
            </div>
            <div class="col-sm-12 col-md-7">
              <app-pagination
                [totalPages]="totalPages"
                [currentPage]="currentPage"
                (pageRequested)="loadFoodPage($event)"
              ></app-pagination>
            </div>
            <div class="col-sm-12 col-md-3">
              <app-search
                (searchNameChanged)="searchWordChanged($event)"
              ></app-search>
            </div>
          </div>

          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th (click)="setSortBy()">Id</th>
                <th>FOOD BRAND NAME</th>
                <th>FOOD DESCRIPTION</th>
                <th>FOOD CALORIES</th>
                <th>FOOD OPTIONS</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Id</th>
                <th>FOOD BRAND NAME</th>
                <th>FOOD DESCRIPTION</th>
                <th>FOOD CALORIES</th>
                <th>FOOD OPTIONS</th>
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let food of foodPage.foods">
                <td [innerHTML]="food?.id">{{ food.id }}</td>
                <td [innerHTML]="food?.brandName"></td>
                <td [innerHTML]="food?.description"></td>
                <td [innerHTML]="food?.calories"></td>
                <td>
                  <button
                    class="btn btn-secondary btn-sm"
                    routerLink="/foods/detail/{{ food.id }}"
                  >
                    DEATAILS
                  </button>
                  <button
                    class="btn btn-secondary btn-sm ml-1"
                    routerLink="/foods/edit/{{ food.id }}"
                  >
                    EDIT
                  </button>
                  <button class="btn btn-danger btn-sm ml-1">DELETE</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
